@import url('fonts.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

@media only  screen and (max-width: 480px) {
  
  .col {
    flex-grow: 0;
    width: 100%;
  }
  
  .container {
    padding-top: 40px;
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 32px;
  }
  
  .title-line {
    display: none;
  }
  
  .offer svg {
    font-size: 16px;
    fill: #3077C6;
    margin-bottom: 48px;
  }
  
  .offer-title {
    font-size: 15px;
    margin-bottom: 34px;
  }
  
  .col-3 {
    width: calc(100% / 3);
  }
  
  .item-header {
    font-size: 15px;
    text-align: center;
    text-decoration: underline;
  }
  
  .item-value {
    display: none;
  }
  
  .copy {
    text-align: center;
  }
  
  .logo-hide svg {
    display:inline-block;
  }
}

.container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 120px 16px;
}

h2 {
  margin-bottom: 20px;
  font-style: normal;
  font-size: 40px;
  font-weight: 500;
  width: 100%;
}

.text-center {
  text-align: center;
}

.title-line {
  border: none;
  height: 4px;
  width: 100px;
  background-color: #F5BD41;
  margin: 0 auto 80px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

svg {
  width: 1em;
  height: 1em;
}

.offer svg {
  font-size: 98px;
  fill: #3077C6;
  margin-bottom: 48px;
}

.item-header {
  padding-bottom: 24px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.item-value {
  padding-bottom: 24px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #fff;
}

.copy {
  padding-top: 65px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.offer-title {
  font-size: 24px;
  font-weight: 400;
  display: block;
}

.footer {
  background-color: #10367C;
}

.header {
  min-height: 100vh;
  background-color: #383838;
  background-image: url("../images/night.png");
  object-fit: none;
  object-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  padding: 51px 104px;
}

.sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 205px;
  height: 40px;
  fill: #3077C6;
}

.night {
  width: 30px;
  height: 30px;
  fill: #fff;
}

.account {
  width: 40px;
  height: 40px;
  fill: #fff;
}

.nav li {
  display: inline-block;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}

.link a {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}

.link a span {
  display: inline-block;
  margin-bottom: 8px;
}

.link a.active hr {
  display: block;
}

.link li hr {
  display: none;
  width: 50px;
  height: 4px;
  background-color: #F5BD41;
  border: none;
}

.google-play {
  width: 135px;
  height: 40px;
  margin-right: 16px;
}

.appstore {
  width: 120px;
  height: 40px;
}

h1 {
  margin-top: 76px;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  color: #FFFFFF;
}

form {
  margin-top: 145px;
}

.apps {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-right {
  margin-right: 24px;
}

.margin-left {
  margin-left: 24px;
}

.col {
  flex-grow: 1;
}

.col-3 {
  flex-grow: 1;
}

.logo-hide svg {
  margin: 40px auto;
  width: 100%;
  height: 19px;
  fill: #fff;
  display: none;
}

