* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.container {
    display:flex;
    flex-wrap: wrap;
    max-width: 1232px;
    margin:0 auto;

}
.item {
    width:25%;
    text-align: center;
    margin-top:160px;
}

h2 {
  margin-bottom: 20px;
  font-style: normal;
  font-size: 40px;
  font-weight: 500;
}

.line {
    width:100%;
    text-align: center;
    margin-top: 20px;
}

.title-line {
  border: none;
  height: 4px;
  width: 100px;
  background-color: #F5BD41;
  margin: 0 auto 80px
}

.row {
  display: flex;
}

.item-4 {
  width: calc(100% / 4);
}

.icon-wrap {
  width: 100%;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.item-3 {
  width: calc(100% / 3);
}

.item-header {
  padding-bottom: 24px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.item-value {
  padding-bottom: 24px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #fff;
}

.copy {
  padding-top: 65px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.offer-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.footer {
  background-color: #10367C;
}

.support {
  width: 75px;
  height: 91px;
}

.chat {
  width: 83px;
  height: 83px;
  background-position-x: -75px;
}

.device {
  width: 99px;
  height: 66px;
  background-position: -159px -13px;
}

.text {
    width:25%;
    text-align: center;
    font-size: 24px;
    margin-top:55px;
    font-family: "Roboto", serif;
}


